<!DOCTYPE HTML>
<html>
<head>
  <title><%= title %> | Chicken Nuggets</title>
</head>
<body>
  <h1> Home of #1 Famous Chicken Nugget</h1>
  <form action="chickennuggets/order" method="POST">
    Name: <input name="name" type="text" placeholder="Name">
    Style:
    <select>
      <option value="Mild">Mild</option>
      <option value="Medium">Medium</option>
      <option value="Hot">Hot</option>
      <option value="Jet Fuel">Jet Fuel</option>
    </select>
    Qty: <input type="number" min="1">
    <input type="submit" value="Nugget me">
  </form>
</body>
</html>
